{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<h3 class="catetwig">－ CATEGORY －</h3>
<div class="catetwig_area">
	<div class="scroll_area">
        <div class="list_area">
            <div class="list">
                <a href="{{ url('product_list') }}?category_id=1">
                    <div class="image"><img class="image_round" src="{{ asset('assets/img/top/cate_001.jpg') }}"></div>
                    <div class="name">ハードチーズ</div>
                </a>
            </div>
            <div class="list">
                <a href="{{ url('product_list') }}?category_id=2">
                    <div class="image"><img class="image_round" src="{{ asset('assets/img/top/cate_001.jpg') }}"></div>
                    <div class="name">ソフトチーズ</div>
                </a>
            </div>
            <div class="list">
                <a href="{{ url('product_list') }}?category_id=3">
                    <div class="image"><img class="image_round" src="{{ asset('assets/img/top/cate_001.jpg') }}"></div>
                    <div class="name">フレッシュチーズ</div>
                </a>
            </div>
            <div class="list">
                <a href="{{ url('product_list') }}?category_id=4">
                    <div class="image"><img class="image_round" src="{{ asset('assets/img/top/cate_001.jpg') }}"></div>
                    <div class="name">エメンタール</div>
                </a>
            </div>
            <div class="list">
                <a href="{{ url('product_list') }}?category_id=5">
                    <div class="image"><img class="image_round" src="{{ asset('assets/img/top/cate_001.jpg') }}"></div>
                    <div class="name">グリュイエール</div>
                </a>
            </div>
        </div>

        <div class="list_area">
            <div class="list">
                <a href="{{ url('product_list') }}?category_id=1">
                    <div class="image"><img class="image_round" src="{{ asset('assets/img/top/cate_001.jpg') }}"></div>
                    <div class="name">アッペンツェラーチーズ</div>
                </a>
            </div>
            <div class="list">
                <a href="{{ url('product_list') }}?category_id=2">
                    <div class="image"><img class="image_round" src="{{ asset('assets/img/top/cate_001.jpg') }}"></div>
                    <div class="name">ティルジッター</div>
                </a>
            </div>
            <div class="list">
                <a href="{{ url('product_list') }}?category_id=3">
                    <div class="image"><img class="image_round" src="{{ asset('assets/img/top/cate_001.jpg') }}"></div>
                    <div class="name">スプリンツ</div>
                </a>
            </div>
            <div class="list">
                <a href="{{ url('product_list') }}?category_id=4">
                    <div class="image"><img class="image_round" src="{{ asset('assets/img/top/cate_001.jpg') }}"></div>
                    <div class="name">ヴァシュラン・<br />モンドール</div>
                </a>
            </div>
            <div class="list">
                <a href="{{ url('product_list') }}?category_id=5">
                    <div class="image"><img class="image_round" src="{{ asset('assets/img/top/cate_001.jpg') }}"></div>
                    <div class="name">ラクレット</div>
                </a>
            </div>
        </div>
    </div>
</div>
